<nav>
  <ul>
    <div class="izquierda1">
    <li><img  src="img/logo/seniorsecure2.png" width="35" height="35"></li>
    </div>
    <div class="derecha1">
      <li><a href="/">Pagina Principal</a></li>
      <li><a href="/sobrenosotros">Sobre Nosotros</a></li>
    </div>      
  </ul>
</nav>
