<header>
  <div>
    <img id="logo" src="img/logo/seniorsecure2.png">
  </div>
  <nav id="menu">
    <ul>   
      <li><a href="/">Pagina Principal</a></li>
      <li><a href="/sobrenosotros">Sobre Nosotros</a></li>      
    </ul>
  </nav>
</header>
