<!DOCTYPE html>
<html lang="es">
  <head>
    <link href="https://seniorsecure.blogspot.com.ar/favicon.ico" rel="icon" type="image/x-icon">
    <meta charset="utf-8">
    <title>SeniorSecure</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    {{> navbar}}
    <section>
      {{{body}}}
    </section>
    <footer>
      <hr />
      <p class="copy">SeniorSecure &copy; 2017 | Powered by Planeanding Solutions | CrewDesign by Pleanding Solutions</p>
    </footer>
  </body>
</html>