<div class="contenedor1">
  <img src="https://lh5.googleusercontent.com/proxy/cTZ7H3DjC8DhT9YQhgLnxoYZs9cS2ULq-1ra0nyHi-hjF0Z9ogyh_24vCIttqI-gCUv16lFutI9PuvtY2Th2c7CgYR9ZVNycg5iigXfTDAm2fItaA0QLLpngRvQaTE3t63P1MdsmiLZM=s0-d">
  <div class="titulo">
    <h2>Senior Secure</h1>
    <p>Estar preparado es una decisión de vida.</p>
    <p>Y se toma fácilmente.</p>
  </div>
</div>
<div class="contenedor3">
    <div id="accidentesPersonales">
    <hr />
      <span>Octubre 08, 2017</span>
    <hr />
    <h3>Accidentes personales</h3>
    <p>El plan de Accidentes Personales te ofrece la posibilidad de extender la protección a todo el grupo familiar, pudiendo incluir a su cónyuge e hijos mayores de 18 años de edad, en tanto que, para sus hijos menores, se prevén importantes beneficios.</p>
    <ol>
      <li>Coberturas Basicas</li>
      <ul>
        <li>Muerte por accidente</li>
        <li>Invalidez permanente (total o parcial) por accidentes</li>
      </ul>
      <li>Adicionales</li>
      <ul>
        <li>Asistencia medico-farmaceutica por accidente</li>
        <li>Renta diaria por incapacidad temporaria por accidente</li>
      </ul>
    </ol>
  </div>
</div>