<div class="contenedor1">
  <img src="https://lh5.googleusercontent.com/proxy/cTZ7H3DjC8DhT9YQhgLnxoYZs9cS2ULq-1ra0nyHi-hjF0Z9ogyh_24vCIttqI-gCUv16lFutI9PuvtY2Th2c7CgYR9ZVNycg5iigXfTDAm2fItaA0QLLpngRvQaTE3t63P1MdsmiLZM=s0-d">
  <div class="titulo">
    <h2>Senior Secure</h1>
    <p>Estar preparado es una decisión de vida.</p>
    <p>Y se toma fácilmente.</p>
    <h2>0-800-667-8700</h2>
  </div>
</div>
<div class="contenedor2">
  <h3>Somos una de las principales empresas en la comercialización de seguros. Nuestros productos se caracterizan por una serie de ventajas y servicios diferenciales que nos posicionan entre los mejores del mercado.</h3>
</div>
<div class="contenedor3">
  <div id="seguroDeVida">
    <hr />
    <h3>Seguros de Vida</h3>
    <p>Porque sabemos que sus seres queridos son lo más valioso para usted, por eso contamos con el Seguro de Vida Individual. COBERTURA BASICA MUERTE POR CUALQUIER CAUSA COBERTURA ADICIONALES Invalidez total y permanente por enfermedad o accidente. Trasplante de Órganos (Páncreas, Corazón, Corazón - Pulmón, Pulmón, Riñón, Hígado). Indemnización por Accidente - Pérdidas Físicas Parciales. Indemnización anticipada por Enfermedades Terminales. Enfermedades Críticas (Cáncer, Infarto de miocardio, Apoplejía, Operación de Bypass, Insuficiencia...</p>
    <a href="/seguro">Continuar leyendo</a>
  </div>
  <div id="accidentesPersonales">
    <hr />
    <h3>Accidentes personales</h3>
    <p>El plan de Accidentes Personales te ofrece la posibilidad de extender la protección a todo el grupo familiar, pudiendo incluir a su cónyuge e hijos mayores de 18 años de edad, en tanto que, para sus hijos menores, se prevén importantes beneficios. 1 COBERTURAS BASICAS MUERTE POR ACCIDENTE INVALIDEZ PERMANENTE (TOTAL O PARCIAL) POR ACCIDENTE 2 ADICIONALES ASISTENCIA MEDICO-FARMACEUTICA POR ACCIDENTE RENTA DIARIA POR INCAPACIDAD TEMPORARIA POR ACCIDENTE...</p>
    <a href="/accidente">Continuar leyendo</a>
  </div>
  <div id="seguroParaElHogar">
    <hr />
    <h3>Seguros para el hogar</h3>
    <p>Sabemos lo que necesita a fin de preservar su patrimonio familiar y calidad de vida ante situaciones inesperadas, como incendios, robos, accidentes y demas coverturas de incendio robo hurto moviliario robo o hurto objetos todo riesgo de equipos cristales accidentes personales responsabilidad civil planes incendio casa familiar hogar express hogar global hogar plus adicionales urgencia domiciliar...</p>
    <a href="/segurohogar">Continuar leyendo</a>
  </div>
  <div id="segurosDelAutomotor">
    <hr />
    <h3>Seguros del automotor</h3>
    <p>Somos una de las principales empresas en la comercialización de seguros para automotores. Nuestros productos se caracterizan por una serie de ventajas y servicios diferenciales que nos posicionan entre las mejores opciones del mercado. NUESTRAS  COBERTURAS: PLAN A – SOLO RESPOSABILIDAD CIVIL PLAN F – RESPONSABILIDAD CIVIL + INCENDIO Y ROBO TOTAL PLAN G – RESPONSABILIDAD CIVIL + INCENDIO Y ROBO PARCIAL PLAN B – RESPONSABILIDAD CIVIL + COBERTURAS TOTALES TERCEROS COMPLETO PLAN C – TERCERO COMPLETO PLAN M – TERCERO COMPLETO...</p>
    <a href="/seguroautomotor">Continuar leyendo</a>
  </div>
</div>
<div class="contenedor4">
  <form method="get" action="/contacto">
    <ul>
      <li>Envianos tu consulta</li>
      <li><button type="submit">Contactanos</button></li>
    </ul>
  </form>
</div>
<div class="contenedor5">
  <h3>Video Institucional</h3>
  <iframe src="https://www.youtube.com/embed/zF4X1Bq0WCM" frameborder="0" gesture="media" allowfullscreen></iframe>
</div>
