<div class="contenedor1">
  <img src="https://lh5.googleusercontent.com/proxy/cTZ7H3DjC8DhT9YQhgLnxoYZs9cS2ULq-1ra0nyHi-hjF0Z9ogyh_24vCIttqI-gCUv16lFutI9PuvtY2Th2c7CgYR9ZVNycg5iigXfTDAm2fItaA0QLLpngRvQaTE3t63P1MdsmiLZM=s0-d">
  <div class="titulo">
    <h2>Senior Secure</h1>
    <p>Estar preparado es una decisión de vida.</p>
    <p>Y se toma fácilmente.</p>
  </div>
</div>
<div class="contenedor3">
<div id="seguroParaElHogar">
  <hr />
    <span>Octubre 08, 2017</span>
  <hr />
  <h3>Seguros para el hogar</h3>
  <p>Sabemos lo que necesita a fin de preservar su patrimonio familiar y calidad de vida ante situaciones inesperadas, como incendios, robos, accidentes y demas.</p>
  <ol>
    <li>Coberturas</li>
    <ul>
      <li>Incendio</li>
      <li>Robo o hurto moviliario</li>
      <li>Robo o hurto objetos</li>
      <li>Todo riesgo de equipos</li>
      <li>Cristales</li>
      <li>Accidentes personales</li>
      <li>Responsabilidad civil</li>
    </ul>
    <li>Planes</li>
    <ul>
      <li>Incendio casa familiar</li>
      <li>Hogar express</li>
      <li>Hogar global</li>
      <li>Hogar plus</li>
    </ul>
    <li>Adicionales</li>
    <ul>
      <li>Urgencia domiciliaria</li>
    </ul>
  </ol>
</div>
</div>