<div class="contenedor1">
  <img src="https://lh5.googleusercontent.com/proxy/cTZ7H3DjC8DhT9YQhgLnxoYZs9cS2ULq-1ra0nyHi-hjF0Z9ogyh_24vCIttqI-gCUv16lFutI9PuvtY2Th2c7CgYR9ZVNycg5iigXfTDAm2fItaA0QLLpngRvQaTE3t63P1MdsmiLZM=s0-d">
  <div class="titulo">
    <h2>Senior Secure</h1>
    <p>Estar preparado es una decisión de vida.</p>
    <p>Y se toma fácilmente.</p>
    <h2>0-800-667-8700</h2>
  </div>
</div>
<div class="contenedor3">
  <div id="seguroDeVida">
    <br />
    <h3>Seguros de Vida</h3>
    <p>Porque sabemos que sus seres queridos son lo más valioso para usted, por eso contamos con el Seguro de Vida Individual.</p>
    <ol>
      <li>Cobertura Basica</li>
      <ul>
        <li>Muerte por cualquier causa.</li>
      </ul>
    </ol>
    <h4>Coberturas Adicionales</h4>
    <ul>
      <li>Invalidez total y permanente por enfermedad o accidente.</li>
      <li>Trasplante de Órganos (Páncreas, Corazón, Corazón - Pulmón, Pulmón, Riñón, Hígado).</li>
      <li>Indemnización por Accidente - Pérdidas Físicas Parciales.</li>
      <li>Indemnización anticipada por Enfermedades Terminales.</li>
      <li>Enfermedades Críticas (Cáncer, Infarto de miocardio, Apoplejía, Operación de Bypass, Insuficiencia renal, Parálisis, Distrofia muscular ó Esclerosis múltiple).</li>
    </ul>
    <br />
  </div>
  <div>
    <form method="get" action="/cotizacion">
      <button type="submit">Solicitá una cotización</button>
    </form>
  </div>
</div>