<div class="contenedor1">
  <img src="https://lh5.googleusercontent.com/proxy/cTZ7H3DjC8DhT9YQhgLnxoYZs9cS2ULq-1ra0nyHi-hjF0Z9ogyh_24vCIttqI-gCUv16lFutI9PuvtY2Th2c7CgYR9ZVNycg5iigXfTDAm2fItaA0QLLpngRvQaTE3t63P1MdsmiLZM=s0-d">
  <div class="titulo">
    <h2>Senior Secure</h1>
    <p>Estar preparado es una decisión de vida.</p>
    <p>Y se toma fácilmente.</p>
    <h2>0-800-667-8700</h2>
  </div>
</div>
<div class="contenedor3">
  <div id="segurosDelAutomotor">
    <br />
    <h3>Seguros del automor</h3>
    <p>Somos una de las principales empresas en la comercialización de seguros para automotores. Nuestros productos se caracterizan por una serie de ventajas y servicios diferenciales que nos posicionan entre las mejores opciones del mercado.</p>
    <h4>Nuestras Coberturas</h4>
    <ol>
      <li><b>Coberturas Basicas</b></li>
      <ul>
        <li>Plan A - Solo responsabilidad civil</li>
        <li>Plan F - Responsabilidad civil + Incendio y robo total</li>
        <li>Plan G - Responsabilidad civil + Incendio y robo parcial</li>
        <li>Plan B - Responsabilidad civil + Coberturas totales</li>
      </ul>
      <li><b>Terceros Completos</b></li>
      <ul>
        <li>Plan C - Tercero completo</li>
        <li>Plan M - Tercero completo MegaPlan</li>
        <li>Plan P - Tercero completo MegaPremium</li>
        <li>Plan MX - Tercero Completo MegaMax</li>
      </ul>
      <li><b>Todo Riesgo</b></li>
      <ul>
        <li>Plan - Todo riesgo</li>
      </u>
    </ol>
    <ul>
      <li><b>Responabilidad Civil hasta $6.000.000</b></li>
      <li><b>Pérdida Total y Parcial por accidentes, Incendio, y Robo o Hurto en sus diferentes modalidades:</b></li>
      <ul>
        <li>Sin franquicia</li>
        <li>Con franquicia fija e invariable de 5%</li>
        <li>Con franquicia fija de $5.000</li>
        <li>Con franquicia fija de $6.000</li>
        <li>Con franquicia fija de $9.000</li>
        <li>Con franquicia fija de $12.000</li>
        <li>Con franquicia fija de $18.000</li>
      </ul>
    </ul>
    <br />
  </div>
  <div>
    <form method="get" action="/cotizacion">
      <button type="submit">Solicitá una cotización</button>
    </form>
  </div>
