<div class="contenedor6">
  <img src="http://s3-eu-west-1.amazonaws.com/rankia/images/valoraciones/0020/1712/puedo-tener-mas-de-un-seguro-de-vida.jpg?1435049877">
  <div class="titulo2">
    <h1>Misión y Visión</h1>
    <p>Quiénes somos determina hacia dónde nos dirigimos. Nuestra Filosofía de Trabajo articulada con nuestros Principios y Valores, nos permiten vivir un crecimiento constante proyectando un futuro sustentable.</p>
  </div>
</div>
<div class="contenedor3">
  <h2>Misión</h2>
  <p>Brindar protección personal y patrimonial a nuestros asegurados, a través de un equipo de trabajo altamente capacitado, identificado con el Grupo, creativo y con sentido de compromiso social.</p>
  <h2>Visión</h2>
  <p>Liderar el mercado asegurador nacional y consolidar nuestra presencia regional, otorgando servicios de alta calidad, con innovación y responsabilidad social.</p>
  <h2>Nuestra Estrategía</h2>
  <p>Nuestra estrategia y nuestro modelo de negocio han demostrado su solidez, permitiéndonos sentar las bases para el futuro en base a nuestras tres líneas de negocio: No Vida, Vida, y la gestión de activos.</p>
  <ul>
    <li>Una posición sólida en aquellos mercados en los que operamos.</li>
    <li>Un modelo de distribución multicanal, que permite al cliente decidir cómo acceder a nuestros productos y servicios</li>
    <li>Experiencia en la gestión de riesgos, que garantiza nuestra fortaleza financiera y nuestra capacidad para cumplir cuando nuestras promesas.</li>
    <li>Excelencia operacional, que nos permite garantizar la excelencia en el servicio a precios competitivos</li>
    <li>Especial sensibilidad por el desarrollo de nuestros empleados.</li>
    <li>Tres actitudes básicas: disponibilidad, atención y fiabilidad, que guían a nuestros empleados a la hora de dar el mejor servicio a nuestros clientes y establecer relaciones sólidas y duraderas basadas en la confianza.</li>
  </ul>
</div>
