body {
  background: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

nav {
  border-bottom: 1px solid black;
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

nav ul li{
  display: inline-block;
}

nav ul li:first-child {
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 18px;
}

.izquierda1 {
  position: relative;
  display: inline-block;
  width: 76%;
}


.derecha1 {
  position: relative;
  display: inline-block;
  width: 24%;
}


.contenedor1 img {
  width: 100%;
  height: 100%;
}

.titulo {
  position: absolute;
  padding-left: 20px;
  top: 5%;
  color: white;
  font-size: 24px;
  margin-top: 30px;
}

.titulo2 {
  position: absolute;
  width: 230px;
  padding-left: 20px;
  margin-top: 50px;
  top: 3%;
  color: white;
  font-size: 18px;
}

.titulo h2 {
  margin-bottom: 2px;
}

.titulo p {
  padding: 0;
  margin: 0;
}

.contenedor2 {
  position: relative;
  margin-top: -4px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.contenedor5 {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.contenedor3 {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.contenedor3 a {
  position: relative;
  left: 80%;
  text-decoration: none;
  font-weight: bold;
  color: #00BFFF;
}

.contenedor3 a:active {
  color: #9a32ad;
}

.contenedor3 h3 {
  color: #00BFFF;
  text-decoration: none;
  font-size: 20px;
}

.contenedor3 h2 {
  color: #00BFFF;
  font-size: 24px;
}

.contenedor3 span {
  color: #79796A;
  font-weight: bold;
  padding-left: 20px;
}

.contenedor3 p::first-letter {
  font-weight: bold;
  font-size: 24px;
  margin-right: 5px;
}

.contenedor4 {
  position: relative;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.contenedor4 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 15px 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.contenedor4 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contenedor4 ul li {
  position: relative;
  display: inline-block;
  left: 37%;
}

.contenedor4 ul li:first-child {
  margin-right: 10px;
}

.contenedor4 button {
  padding: 10px 30px 10px 30px;
  font-weight: bold;
  font-size: 15px;
  color: white;  
  background-color: #00BFFF;
  border: 2px solid #00BFFF;
  border-radius: 20px;
  box-shadow: 1px 2px 6px -5px black; 
  text-shadow: 2px 2px 5px gray;
}

.contenedor5 {
  margin-bottom: 50px;
  padding-left: 20px;
  left: 27%;
}

.contenedor5 iframe {
  width: 500px;
  height: 250px;
}

.contenedor5 h3 {
  color: #00BFFF;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.contenedor6 img {
  width: 100%;
  height: 100%;
}

footer {
  color: gray;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.form2 {
  width: 450px;
  margin: auto;
  margin-bottom: 170px;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

.form2 h2 {
  color: #FFF;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

.form2 input, textarea {
  width: 100%;
  margin-bottom: 20px;  
  padding: 7px;
  font-size: 17px;
  box-sizing: border-box;
  border: none;
}

.form2 textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

.form2 button {
  position: relative;
  left: 110px;
  padding: 10px 30px 10px 30px;
  font-weight: bold;
  font-size: 15px;
  color: white;  
  background-color: #00BFFF;
  border: 2px solid #00BFFF;
  border-radius: 20px;
  box-shadow: 1px 2px 6px -5px black; 
  text-shadow: 2px 2px 5px gray;
}
